body {
  margin: 0;
  height: 100%;
  width: 100%;
  /* overflow-y: hidden; */
  text-align: center;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

header {
  height: fit-content;
  width: 100%;
  box-shadow: 2px 2px 9px;
}
nav {
  padding: 5px 10px 4px 5px;
}
ul {
  width: 80%;
  margin: 19px auto;
  display: flex;
  justify-content: space-between;
}
li {
  font-family: "Poppins", sans-serif;
  list-style: none;
}
li > a {
  font-size: 15px;
}
li a:hover {
  color: orangered;
  border-bottom: 2px solid;
  transition-duration: 100ms;
}

main {
  /* border-top: solid; */
  min-height: 78vh;
  margin-top: -15px;
  background: url("./img/background-vector.jpg") 100% no-repeat;
}

.name {
  font-family: "Bungee Spice", cursive;
  padding: 5px;
}
.pic {
  border-radius: 8px;
  height: 420px;
  width: 380px;
  margin-bottom: 20px;
}
.mail, .tel {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2rem;
}
.mail > a, .tel > a {
  font-family: 'Poppins';
  color:rgb(91, 165, 231)
}
.links {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin: 40px auto;
}
.links img {
  width: 30px;
  background: none;
}
.links > a:hover > img {
  background: none;
  width: 35px;
  transition-duration: 100ms;
}

/* About page */
.about--title {
  font-family: "Bungee Spice", cursive;
}
.about--main {
  padding: 5% 25%;
}
.about--main > p {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Contacts page */
.contact--main {
  text-align: center;
}
.contact--main--content {
  position: relative;
  top: 40px;
}
.contact--main img {
  width: 150px;
  border-radius: 50%;
  transition-duration: 200ms;
}
.contact--main img:hover {
  width: 180px;
  transition-duration: 200ms;
}
.contact--table {
  width: 70%;
  margin: auto;
  border-collapse: collapse;
}

/* Projects page */
.projects--sections {
  background: none;
  padding: 50px;
  margin: auto;
  display: flex;
}
.projects--sections img {
  margin-right: 90px;
  transition-duration: 500ms;
}
.projects--sections img:hover {
  transform: scale(110%);
  transition-delay: 50ms;
  transition-duration: 300ms;
}

/* Services Page */
.services--main {
  position: relative;
  top: 40px;
}
.services--title {
  font-family: "Bungee Spice";
}
.services--list{
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.services--list  li {
  background-color: rgb(91, 165, 231);
  width: fit-content;
  line-height: 10vh;
  
  margin: 100px 5%;
  padding: 20px;
  cursor: pointer;
}
.services--list  li:hover {
  background-color: rgb(240, 248, 255);
  transition-duration: 600ms;
}

footer {
  background-color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  border-top: 1px solid orangered;
  position: fixed;
  bottom: 0;
  left: 11.5%;
  width: 80%;
  margin: auto;
}

/* Desktop view only*/
@media only screen and (min-width: 850px) {
  .links {
    position: absolute;
    top: 0;
    left: 0;
    margin: 15% 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .links > a {
    margin: 10px;
    transition-duration: 1500ms;
  }
  
}

/* Mobile view */
@media screen and (max-width: 720px) {
  /* Contacts page */
  .contact--main img {
    width: 110px;
  }
  .contact--main img:hover {
    width: 150px;
    transition-duration: 200ms;
  }
  .contact--main {
    padding: 70px 0;
  }

  /* Projects page mobile */
  .projects--sections {
    display: block;
    padding: 40px;
    background-color: aliceblue;
  }

  /* Services Page Mobile view */
  .services--list  li {
    background-color: rgba(150, 150, 215, 0.525);
    width: 85%;
    margin: 20px auto;
  }
  
}
