a, a:visited {
  text-decoration: none;
  color: inherit;
}
.flexbox {
  display: flex;
  width: 835px;
  /* height: ; */
  margin: 15vh auto;
}
.flexbox > div {
  color: rgb(238, 255, 255);
  padding: 55px 35px;
  font-family: 'Big Shoulders Display';
}
p {
  font-family: 'Lexend Deca';
  font-size: 15px;
}
.box--sedan {
  border-radius: 7px 0 0 7px;
  background-color: hsl(30, 73%, 50%);
}
.box--sedan > button {
  color: hsl(30, 73%, 50%);
}

.box--suv {
  background-color: hsl(185, 98%, 23%);
}
.box--suv > button {
  color: #016972;
}

.box--luxury {
  border-radius: 0 7px 7px 0;
  background-color: hsl(179, 100%, 12%);
}
.box--luxury > button {
  color: hsl(179, 100%, 12%);
}

button {
  margin: 40px 10px;
  padding: 8px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition-duration: 600ms;

}
button:hover {
  transition-duration: 300ms;
  padding: 12px 28px;
  background-color: hsl(30, 73%, 50%);
  color: rgb(238, 255, 255);
  border: solid 1px rgb(238, 255, 255);
}
.box--suv > button:hover {
  background-color: hsl(185, 98%, 23%);
}
.box--luxury > button:hover {
  background-color: hsl(179, 100%, 12%);
}

@media screen and (max-width: 500px) {
  .flexbox {
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
  }
  /* .flexbox > div {
    padding: 55px 10px; 
  } */
  .box--sedan {
    border-radius: 7px 7px 0 0;
  }
  .box--luxury {
    border-radius: 0 0 7px 7px;
  }
}